<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Carro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="add-page">
    <header class="header">
        <h1 class="title">Adicionar Carro</h1>
    </header>
    <main class="main-content">
        <form action="/add" method="post" class="form">
            <div class="form-group"></div>
            
    </main>
    
</body>
</html>