{% extends "base.html" %}

{% block title %}Adicionar Carro{% endblock %}

{% block content %}
<h2>Adicionar Carro</h2>
<form action="/add" method="post" class="form">
    <div class="form-group">
        <label for="placa" class="label">Placa:</label>
        <input type="text" id="placa" name="placa" class="input" required>
    </div>
    <div class="form-group">
        <label for="modelo" class="label">Modelo:</label>
        <input type="text" id="modelo" name="modelo" class="input" required>
    </div>
    <div class="form-group">
        <label for="vaga" class="label">Vaga:</label>
        <input type="number" id="vaga" name="vaga" class="input" min="1" max="20" required>
    </div>
    <div class="form-actions">
        <button type="submit" class="button button-submit">Adicionar</button>
        <a href="/" class="button button-back">Voltar</a>
    </div>
</form>
{% endblock %}
